/* badge */
  
.badge, .badge-primary, .badge-secondary, .badge-success, .badge-danger, .badge-warning, .badge-info, .badge-link, .badge-dark{
  display: inline-block;
  padding: 0.3em 1em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;   
  height: 20px ;
  
}

.badge-primary {
  color: white;
  background-color: #007bff ;
}

.badge-secondary {
  color: white;
    background-color: #6c757d ;
}

.badge-success {
  color: black;
  background-color: #28a745 ;
}

.badge-danger {
  color: white !important;
  background-color: #db2033;
}

.badge-warning{

  color:#212529;
  background-color: #ffc107;
}

.badge-info{
  color: black;
  background-color:#17a2b8;
}

.badge-light{

  color: black;
  background-color: transparent;
}

.badge-dark{

  background-color:#343a40;
}
