/* button */
.btn, .btn-link, .btn-info, .btn-warning, .btn-danger, .btn-success, .btn-secondary, .btn-primary, .btn-light {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
  width: 80px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.btn-primary {
  color: #fff;
  background-color: #007bff !important;
  border-color: #999;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #999;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #999;
}

.btn-danger {
  color: #fff;
  background-color: #db2033 !important;
  border-color: #999;
}

.btn-warning {
  color: #fff;
  background-color: #ffc107;
  border-color: #999;
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #999;
}

.btn-link {
  color: #001a8f;
  text-decoration: none;
}

.btn-light{
  background-color: #f8f9fa;
}

/*# sourceMappingURL=button.css.map */
