/* button */

.btn{
  font-weight:400;
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
  width: 80px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 3px;
}
  .btn-primary{
    @extend .btn ;
     color: #fff;
     background-color: #4787ed!important;
     border-color: #999;
     
  }

  .btn-secondary{
    @extend .btn ;
      color: #fff;
     background-color: #6c757d;
     border-color: #999;
  } 

  .btn-success{
    @extend .btn ;
      color: #fff;
      background-color: #28a745;
      border-color: #999;
  }

  .btn-danger{
    @extend .btn ;
      color: #fff;
      background-color: #dd4b39!important;
      border-color: #999;
  }

  .btn-warning{
    @extend .btn ;
      color: #fff;
      background-color: #ffc107;
      border-color: #999;
  }

  .btn-info{
    @extend .btn ;
      color: #fff;
      background-color: #17a2b8;
      border-color: #999;
  }

  .btn-link{
    @extend .btn ;
      color: #001a8f;
      text-decoration:none;

  }