/* nav dropdown */

h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}	

h3 {
	font-size: 30px;
	text-align: center;
	color: rgb(255, 255, 255);
}

h3 a {
	color: rgb(255, 255, 255);
}

a {
	color: rgb(255, 255, 255);
	
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	font-family: 'Bree Serif', 'serif';
	}

#container {
	margin: 0 auto;
}

p {
	text-align: center;
}



nav {
  width: 100%;
	margin: 0px 0;
  background-color: #224272;
  position: absolute;
  z-index: 2;
  
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color: #224272;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:15px;
	line-height: 45px;
	text-decoration:none;
	font-family: 'Arimo', sans-serif;
}

nav a:hover { 
	background-color: #224272; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 45px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ''; }
li > a:only-child:after { content:  ''; }
