.label, .label-primary, .label-success, .label-secondary, .label-danger, .label-info, .label-warning, .label-other{
    color: white;
    padding: 8px;
  }

  .label-primary {
      background-color: #007bff;
    } /* Green */
    
  .label-success {
      background-color: #28a745;
    } /* Green */

  .label-secondary {
      background-color: #6c757d;
    } /* Grey */

  .label-info {
      background-color: #2196F3;
    } /* Blue */

  .label-warning {
      background-color: #ff9800;
    } /* Orange */

  .label-danger {
      background-color: #f44336;
    } /* Red */ 

  .label-other {
      background-color: #e7e7e7; color: black;
    } /* Gray */