/* text editor span class*/
.span_title{
  font-size: 15px; 
  font-weight: bold;
  color: black;
}

.span_yellow {
  border: 0;
  background-color: #97c310;
  color: #f5f4f4;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  
}

.span_blue {
  border: 0;
  background-color: #4f7ed1;
  color: #f5f4f4;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
}

.span_blue1 {
  color: #21759b;
}

.span_blue2 {
  color: #21759b;
  font-weight: bold;
}

.span_blue3 {
  color: #ffffff;
  font-weight: bold;
}

.span_black {
  color: #000000;
  font-weight: bold;
}

.span_brown {
  color: #a35617;
  font-weight: normal;
}

.span_orange {
  color: #ff9b18;
  font-weight: bold;
}

/*# sourceMappingURL=span.css.map */
