/* text editor span class*/

.span_yellow{
  border: 0;
  background-color: #97c310;
  color: rgb(245, 244, 244);
  font-weight: normal;
}

.span_blue{
  border: 0;
  background-color: #4f7ed1;
  color: rgb(245, 244, 244);
  font-weight: normal;
}

.span_blue1{

color: #21759b;
}

.span_blue2{

color: #21759b;
font-weight: bold;
}

.span_blue3{

  color: #ffffff;
  font-weight: bold;
  }

.span_black{

color: #000000;
font-weight: bold;
}

.span_brown{

color: #a35617;
font-weight: normal;
}

.span_orange{
color:#ff9b18;
font-weight: bold;
} 
