
.form_login{
	/*membuat lebar form penuh*/
	border-style: solid;
	border-radius: 10px;
	width: 260px;
	height: 35px;
	padding: 10px;
	font-size: 11pt;
}

.corners1 {
	border-radius: 10px;
	background-color: transparent;
	padding: 10px; 
	width: 300px;
	height: 40px; 
}
  
.corners2 {
	border-radius: 10px;
	background-color: white;
	padding: 10px; 
	width: 200px;
	height: 20px; 
}
	
.textarealg{
	border-radius: 10px;
	background-color: white;
	width : 250px;
	height: 150px;
	overflow: auto;
	resize: vertical;
}

.textareasm{
	border-radius: 10px;
	background-color: white;
	width : 200px;
	height: 20px;
	overflow: auto;
	resize: vertical;
}

.textareaxs{
	border-radius: 10px;
	background-color: white;
	width : 75px;
	height: 20px;
	overflow: auto;
	resize: vertical;
}


